<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Railwayapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrossingController</display-name>
    <servlet-name>CrossingController</servlet-name>
    <servlet-class>com.servlet.CrossingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrossingController</servlet-name>
    <url-pattern>/CrossingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrossingFavorite</display-name>
    <servlet-name>CrossingFavorite</servlet-name>
    <servlet-class>com.servlet.CrossingFavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrossingFavorite</servlet-name>
    <url-pattern>/CrossingFavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrossingUpdate</display-name>
    <servlet-name>CrossingUpdate</servlet-name>
    <servlet-class>com.servlet.CrossingUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrossingUpdate</servlet-name>
    <url-pattern>/CrossingUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControllerAdmin</display-name>
    <servlet-name>LoginControllerAdmin</servlet-name>
    <servlet-class>com.servlet.LoginControllerAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerAdmin</servlet-name>
    <url-pattern>/LoginControllerAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.servlet.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
</web-app>